* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.container{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    font-size: larger;
    
}

body {
    background: #f5f5f5;
}

.header {
    background: #222;
    color: white;
    padding: 15px;
    font-size: 25px;
    text-align: center;
}

/* GRID */
.products {
    display: grid;

    /* GRID APPLIED */
    grid-template-columns: repeat(4, 1fr);

    gap: 20px;
    padding: 20px;

    max-width: 1100px;
    margin: auto;
}

.card {
    background: white;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.card img {
    width: 200px;
    border-radius: 5px;
}

.product-name {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.product-name:hover {
    color: #007bff;
}

.price {
    color: green;
    margin-bottom: 10px;
}

.btn {
    padding: 8px 15px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn:hover {
    background: #0056b3;
}

.cart {
    background: #28a745;
}

.cart:hover {
    background: #1e7e34;
}

/* Product detail page */
.product-detail {
    display: flex;
    gap: 20px;
    background: white;
    padding: 20px;
    margin: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.product-detail img {
    width: 300px;
}

.info {
    max-width: 400px;
}